<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>LỊCH CỦA TÔI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <app-cardappointment *ngFor="let appointment of appointments$;" 
        [company$]="company$"
        [appointmentObj]="appointment" 
        [appointment$]="appointments$">

      </app-cardappointment>
  </ion-list>

</ion-content>