<ion-header>
  <ion-toolbar>
    <ion-title>search-test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="field-lab">
	<div class="field">
		<span class="fa fa-search"></span>
          <input type="text" required>
          <label>Search tests</label>
        </div>
</ion-row>
<ion-label>
	<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
		<ion-row>
		<ion-col>
			<label class="ache-lab">Ache acid</label>
		</ion-col>
		<ion-col>
			<label class="dollor">20 $</label>
		</ion-col>
	</ion-row>
</ion-label>
</ion-content>
