<ion-header>
  <ion-toolbar>
    <ion-icon name ="chevron-back-outline" slot="start"></ion-icon>
    <ion-title>
    		<!-- <div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>Đinh Trọng Đạt</span>
				</div>
			</div> -->
      <div class="star-rating">
        <span>Đinh Trọng Đạt</span>
      </div>
    </ion-title>
    <ion-icon name ="call-outline" slot="end"></ion-icon>
    <ion-icon name ="videocam-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
Lorem Ipsum has been the industry's standard dummy text ever since
  </ion-card-content>
</ion-card>
<ion-card class="chat-box">
  <ion-card-content>
Lorem Ipsum has been the industry's standard dummy text ever since
  </ion-card-content>
</ion-card>
<div class="iconimage">
  <ion-icon name ="image-outline" ></ion-icon>
</div>
    <ion-item class="btn-chat" lines="none">
    <ion-input class="write-msg" type="text" placeholder="Write your message" required></ion-input>

<ul id="fileList" class="file-list"></ul>
    <ion-button style="color: #8DD1F8;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path></svg></ion-button>
 </ion-item>
</ion-content>
