<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    	Find Doctor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="reason-box">
	<div class="field">
		<span class="fa fa-search"></span>
          <input type="text" required>
          <label>Enter Doctor / Specialist / Hospital</label>
        </div>
</ion-row>
<ion-label class="top-speciats">
	<ion-row>
		<ul>Top Speciaities
		<li><span>Cardiologist</span><p>150</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Dentist</span><p>100</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Cardiologist</span><p>170</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Eye Specialist</span><p>130</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Cardiologist</span><p>120</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
	</ul>
	</ion-row>
		<ion-row>
		<ul>Top Speciaities
		<li><span>Cardiologist</span><p>150</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Dentist</span><p>100</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Cardiologist</span><p>170</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Eye Specialist</span><p>130</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li><span>Cardiologist</span><p>120</p><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
	</ul>
	</ion-row>
	
</ion-label>
</ion-content>
