ion-header ion-toolbar {
  color: #fff;
  --background: #8dd1f8;
}

.cardio-box ion-row {
  background-color: transparent;
}
.cardio-box ion-row .star-rating {
  padding: 24px 30px;
}
.adult-dr-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.star-rating {
  span {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  p {
    font-size: 14px;
    padding-top: 2px;
  }
}
.timestart{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.form-sec .content {
margin-top: 20px;
 
}
.form-sec .field input {
  padding-left: 20px;
  background: #efefef;
  width: 330px;
  height: 50px;
  border-color: #fff;
}
.form-sec .content .field {
  height: 40px;
  margin-bottom: -10px;
  margin-left: 20px;
}
ion-toolbar a {
  margin: -24px 10px;
}

.AppointmentName{
    margin-left: 33px;
    border-radius: 15px;
    height: 45px;
    width: 85%;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.08);
    --height: 50px;
    font-size: 14px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 5px;
}
.AppointmentPhone{
  margin-left: 33px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  height: 45px;
  width: 85%;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.08);
  --height: 50px;
  font-size: 14px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 5px;
}

ion-input {
  margin-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
  --height: 50px;
  font-size: 14px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-start: 5px;
  margin-left: px;
  border-radius: 15px;
  height: 45px;
  width: 95%;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.08);

  .field{
    line-height: 50px;
  }
}
 
ion-button{
  width: 55%;
  --border-radius: 12px;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
  text-transform: initial;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
  margin: 25px auto;
  text-align: center;
}
.error-message {
  font-size: 10px;
  color: #d00909;
  margin-left: 32px;

}
.date{
  margin-top: 30px;
}
.timestart{
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  height: 50px;
  width: 95%;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
}
.timeEnd{
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  height: 50px;
  width: 95%;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  font-weight: bold;
}