<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Đặt lịch hẹn </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="{{doctor.avatar_url}}" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>{{doctor.last_name}} {{doctor.first_name}}</ion-card-title>
            <ion-card-subtitle>Chuyên môn: {{specialization.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{company.name}}</ion-card-subtitle>
            <ion-card-subtitle>9:00 am - 17:00 pm</ion-card-subtitle>
            <p class="star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="form-sec">
    <div class="content">
      <form action="#" [formGroup]="bookappointment" (ngSubmit)="submit()">
        <div class="field">
          <ion-input id="name" placeholder="Tên cuộc hẹn" type="text" formControlName="name">
          </ion-input>
          <label></label>
        </div>
        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <div class="field">
          <ion-input id="number" placeholder="liên hệ" type="text" formControlName="number">
          </ion-input>
          <label></label>
        </div>
        <div *ngFor="let error of errorMessages.number">
          <ng-container *ngIf="number.hasError(error.type) && (number.dirty || number.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <div class="date">
          <ion-item button="true" id="open-date-input">
            <ion-label style="font-weight: bold;">Chọn ngày: </ion-label>
            <ion-text slot="end">{{ dateValue }} </ion-text>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-popover trigger="open-date-input" show-backdrop="false">
              <ng-template>
                <ion-datetime size="auto" #popoverDatetime presentation="date"
                  (ionChange)="dateValue = formatDate(popoverDatetime.value)" formControlName="date"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </div>
        <div class="timestart">
          <ion-item>
            <div class="labelSelect">
              <ion-label style="color: rgb(114, 111, 111)"> Giờ bắt đầu </ion-label>
            </div>

            <ion-select placeholder=" Chọn " id="time" formControlName="timeStart">
              <ion-select-option value="9:00 AM">9:00 AM</ion-select-option>
              <ion-select-option value="10:00 AM">10:00 AM </ion-select-option>
              <ion-select-option value="11:00 AM">11:00 AM</ion-select-option>
              <ion-select-option value="1:00 PM">1:00 PM </ion-select-option>
              <ion-select-option value="2:00 PM">2:00 PM</ion-select-option>
              <ion-select-option value="3:00 PM">3:00 PM </ion-select-option>
              <ion-select-option value="4:00 PM">4:00 PM</ion-select-option>
              <ion-select-option value="5:00 PM">5:00 PM </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="timeEnd">
          <ion-item>
            <div class="labelSelect">
              <ion-label style="color: rgb(114, 111, 111)"> Giờ kết thúc </ion-label>
            </div>

            <ion-select placeholder=" Chọn " id="timeEnd" formControlName="timeEnd">
              <ion-select-option value="9:00 AM">9:30 AM</ion-select-option>
              <ion-select-option value="10:00 AM">10:30 AM </ion-select-option>
              <ion-select-option value="11:00 AM">11:30 AM</ion-select-option>
              <ion-select-option value="1:00 PM">1:30 PM </ion-select-option>
              <ion-select-option value="2:00 PM">2:30 PM</ion-select-option>
              <ion-select-option value="3:00 PM">3:30 PM </ion-select-option>
              <ion-select-option value="4:00 PM">4:30 PM</ion-select-option>
              <ion-select-option value="5:00 PM">5:30 PM </ion-select-option>
            </ion-select>
          </ion-item>
        </div>



        <ion-button [disabled]="!bookappointment.valid" class="book-appointment"
          type="submit" expand="block">Đặt lịch</ion-button>
      </form>
    </div>
  </div>





</ion-content>