<ion-header>
    <ion-toolbar>
        <ion-title>feedback</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-label class="doctor-background">
    <img src="assets/images/lady-Doctor.png" />
</ion-label>
    <ion-card>
        <ion-card-content>
            <div class="fedback-clint">
                <ion-col class="feedback-box">
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr-Reena Roy</span>
                            <p>Visited Eye treatment</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="available-box">
                    <span>
                        5.0
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <p>10-June-2020</p>
                </ion-col>
                <ion-col class="about-paragraf">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book.
                    </p>
                </ion-col>
            </div>
        </ion-card-content>
    </ion-card>
        <ion-card>
        <ion-card-content>
            <div class="fedback-clint">
                <ion-col class="feedback-box">
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr-Reena Roy</span>
                            <p>Visited Eye treatment</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="available-box">
                    <span>
                        5.0
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <p>10-June-2020</p>
                </ion-col>
                <ion-col class="about-paragraf">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book.
                    </p>
                </ion-col>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <div class="fedback-clint">
                <ion-col class="feedback-box">
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr-Reena Roy</span>
                            <p>Visited Eye treatment</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col class="available-box">
                    <span>
                        5.0
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <p>10-June-2020</p>
                </ion-col>
                <ion-col class="about-paragraf">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book.
                    </p>
                </ion-col>
            </div>
        </ion-card-content>
    </ion-card>
    
    <ion-button class="book-appointment" type="submit" expand="block">Give Feedback</ion-button>
</ion-content>
