* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    --ion-color-warning: #ffa400;
}

ion-header ion-toolbar {
    color: #fff;
    --background: #8dd1f8;
}

.content {
    padding: 15px;
}

.thumb {
    width: 100%;
    height: 30%;

    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.lab-info {
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0 3%;
    margin-top: 5%;


    .lab-name {
        font-size: 1.375rem;
        font-weight: bold;
        width: 100%;
        line-height: 1.75rem;
        text-align: left;
    }

    .star {
        color: var(--ion-color-warning);
    }
}

.info-contact {
    margin-top: 7%;
    height: 23%;
    padding: 0 2.5%;
    align-items: center;

    .address {
        overflow-wrap: break-word;
        flex: 1;
        padding-bottom: 10px;
        
        height: 48px;
    }

    .cXHGnc {
        width: 48px;
        display: flex;
        align-items: center;
        float: left;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .rogA2c {
        height: 24px;
        align-self: center;
        flex: 1;
    }

    .AdGh {
        overflow-wrap: break-word;
        flex: 1;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.map-container {
    height: 30%;
    width: 100%;
}