<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button auto-hide="false"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon size="large" name="chatbox-ellipses-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Thông tin phòng khám</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-slides class="thumb">
		<ion-slide *ngFor="let thumb of thumbs" class="thumbnail">
			<ion-img src="{{thumb}}"></ion-img>
		</ion-slide>
	</ion-slides>
	<div class="lab-info">
		<h1 class="lab-name">{{company.name}}</h1>
		<span>Bệnh viện</span>
	</div>
	<div class="info-contact">
		<div class="address">
			<div class="cXHGnc">
				<img src="https://www.gstatic.com/images/icons/material/system_gm/2x/place_gm_blue_24dp.png">
			</div>
			<div class="rogA2c">
				<span class="address-info">{{company.street}}, {{company.ward}}, {{company.district}},
					{{company.province}}</span>
			</div>
		</div>

		<div class="AdGh">
			<div class="cXHGnc">
				<img src="https://www.gstatic.com/images/icons/material/system_gm/2x/schedule_gm_blue_24dp.png">
			</div>
			<div class="rogA2c">
				<span>{{company?.open_time}} - {{company?.close_time}}</span>
			</div>
		</div>

		<div class="AdGh">
			<div class="cXHGnc">
				<img src="https://www.gstatic.com/images/icons/material/system_gm/2x/email_gm_blue_24dp.png">
			</div>
			<div class="rogA2c">
				<span>{{company?.email}}}</span>
			</div>
		</div>

		<div class="AdGh">
			<div class="cXHGnc">
				<img src="https://www.gstatic.com/images/icons/material/system_gm/2x/phone_gm_blue_24dp.png">
			</div>
			<div class="rogA2c">
				<span>{{company?.phone}}</span>
			</div>
		</div>
	</div>

	<div class="map-container">
		<map-component [longitudeEvent]="longitudeEvent" [latitudeEvent]="latitudeEvent">
		</map-component>
	</div>
</ion-content>