<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DANH SÁCH BÁC SĨ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row class="field-lab">
    <div class="field">
      <ion-searchbar placeholder="Nhập tên Bác sĩ">Tìm kiếm</ion-searchbar>
      <label>View in Map</label>
      <ion-button color="secondary">Tìm</ion-button>
      <a href="#"><span class="fa fa-angle-right"></span></a>
    </div>
  </ion-row> -->
  <!-- <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="../assets/images/avt_doctor.jpeg" />
          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label> -->
  <!-- <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="assets/images/adult-doctor.png" />

          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label>
  <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="assets/images/adult-doctor.png" />

          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label>
  <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="assets/images/adult-doctor.png" />

          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label>
  <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="assets/images/adult-doctor.png" />

          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label>
  <ion-label class="lab-box">
    <ion-row>
      <ion-col>
        <div class="adult-dr-img">
          <img src="assets/images/adult-doctor.png" />

          <div class="star-rating">
            <span>SMS Clinical Labs</span>
            <p>1210 30th Dr.Renna,Jaipur</p>
            <p><a href="#">200+ tests available</a></p>
            <ion-button>Call Now</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-label> -->
  <ion-searchbar placeholder="Nhập tên Bác sĩ"></ion-searchbar>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/images/avt_doctor.jpeg" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
