<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon size="large" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Thông tin bác sĩ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-doctor-info">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="{{doctor.avatar_url}}" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>{{doctor.last_name}} {{doctor.first_name}}</ion-card-title>
            <ion-card-subtitle>Chuyên môn: {{specialization.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{company.name}}</ion-card-subtitle>
            <ion-card-subtitle>9:00 am - 17:00 pm</ion-card-subtitle>
            <p class="star">
              <ion-label>{{doctor.rating}} </ion-label>
              <ion-icon name="star"></ion-icon>
            </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row>
    <div class="fedback-doctor">
      <ion-row>
        <ion-col class="available-box">
          <div class="info">
            <span>Thông tin</span>
            <p style="font-weight: bold;">Trình độ</p>
            <p>{{doctor.level_of_education}}</p>
          </div>
          
        </ion-col>
        <ion-col class="available-box-1">
          <span>Nhận xét</span>
          <p style="font-weight: bold;">Đánh giá</p>
          <p>{{doctor.rating}}</p>
        </ion-col>
      </ion-row>

      <div class="Experience-sec">
        <label>Mô tả</label>
        <p>
          {{doctor.description}}
        </p>
      </div>
    </div>
  </ion-row>
  <div class="clinic-info">
    <p>Thông tin phòng khám</p>
    <div class="clinic-detail">
      <p class="name-location">
        {{company.name}}<ion-icon name="location-outline" (click)="goToLabMap(doctor.company_id)"></ion-icon>
      </p>
      <br /><span>Địa chỉ: {{company.street}} - {{company.ward}} - {{company.district}} -
        {{company.province}}</span><br /><span>9:00 am - 5:00pm</span>
    </div>
    <div class="img-clinic" (click)="gotoLabInfo(company._id)">
      <img src="{{company.image}}" />
    </div>
  </div>
  <ion-button expand="block" (click)="bookDoctor(doctor._id)">BOOK</ion-button>
</ion-content>