<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon size="large" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Thông tin bác sĩ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-doctor-info">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
            <ion-card-subtitle>9:00 am - 17:00 pm</ion-card-subtitle>
            <p class="fa-star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-row>
    <div class="fedback-doctor">
      <ion-row>
        <ion-col class="available-box">
          <span>Thông tin</span>
          <p>Trình độ</p>
          <p>Bác sĩ y khoa</p>
        </ion-col>
        <ion-col class="available-box-1">
          <span>Nhận xét</span>
          <p>Đánh giá</p>
          <p>5.0</p>
        </ion-col>
      </ion-row>

      <div class="Experience-sec">
        <label>Mô tả</label>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </ion-row>
  <div class="clinic-info">
    <p>Thông tin phòng khám</p>
    <div class="clinic-detail">
      <p class="name-location">
        Tên phòng khám<ion-icon name="location-outline"[routerLink]="['/lab-map']"></ion-icon>
      </p>
      <br /><span>Địa chỉ</span> <br /><span>9:00 am - 5:00pm</span>
    </div>
    <div class="img-clinic">
      <img src="../assets/images/clinic.png" />
    </div>
  </div>
  <ion-button expand="block">BOOK</ion-button>
</ion-content>
