<ion-header>
  <ion-toolbar>
    <ion-title>Labs & tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="field-lab">
	<div class="field">
		<span class="fa fa-search"></span>
          <input type="text" required>
          <label>Search for tests</label>
        </div>
</ion-row>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<span>SMS Clinical Labs</span>
					<p>1210 30th Dr.Renna,Jaipur</p>
					<p><a href="#">200+ tests available</a></p>
					<ion-button>Call Now</ion-button>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-label>
</ion-content>
