ion-content {
    --background: #f5f5f3;

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 26px;
            color: #010100;
            margin-bottom: 5%;
        }

        img {
            margin-top: 60px;
            width: 90px;
            height: 90px;
            margin-bottom: 10%;
            left: 128px;
            top: 119px;
        }
    }
    .button-login {
        margin: 25px auto;
        text-align: center;
    }

    #form {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    ion-button {
        width: 55%;
        --border-radius: 12px;
        height: 45px;
        font-weight: bold;
        font-size: 15px;
        text-transform: initial;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;

    }

    #social-icon {
        //display: flex;
        //flex-direction: row;
        text-align: center;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

ion-item {
    margin: 0 auto;
    border-radius: 15px;
    height: 45px;
    width: 95%;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

ion-input {
    --height: 50px;
    font-size: 14px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 5px;
}

.ion-margin-bottom-email {
    margin-top: 23px;
}

.ion-margin-bottom-password {
    margin-top: 13px;
}

a {
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #575755;
    margin-left: 15px;
}

.error-message {
    font-size: 10px;
    color: #d00909;
    margin-left: 10px;
}

.forgot-pass {
    margin-top: 20px;
    text-align: right;
    margin-right: 5px;
    color: #1BA3F0;
}

.register {
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.contact {
    background-color: red;
}

.destext {
    font-size: 12px;
}

ion-text {
    background-color: #fff;
    height: 10px;
    text-align: center;
}

.footer {
    background-color: #fff;
    height: 20px;
    text-align: center;
}