<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
	<ion-label class="logo">
      <ion-img src="assets/images/logo-white.png"></ion-img>
 	 </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-label class="hand-doctor">
      <ion-img src="assets/images/hand-doctors.png"></ion-img>
 	 </ion-label>
 	 <ion-label class="hand-logo">
 	 	<ion-img src="assets/images/logo.png"></ion-img>
 	 </ion-label>
 	 <div class="contact-boxes">
 	 <ion-col>
 	<ion-label class="contact-box">
 	 <ion-img src="assets/images/message.png"></ion-img>
 	 <span>Chat</span>
 	 </ion-label>
 	 </ion-col>
 	 	 <ion-col>
 	<ion-label class="contact-box">
 	 <ion-img src="assets/images/phone-contact.png"></ion-img>
 	 <span>Contact us</span>
 	 </ion-label>
 	 </ion-col>
 	 	 <ion-col>
 	<ion-label class="contact-box">
 	 <ion-img src="assets/images/find.png"></ion-img>
 	 <span>Find Medical</span>
 	 </ion-label>
 	 </ion-col>
 	</div>

 <ion-button class="book-appointment" type="submit" expand="block">Book an appointment Now</ion-button>

</ion-content>
