.form-sec .forgot-pass a {
    font-size: 14px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    float: none;
}
.form-sec .content {
    top: 32%;
}
.form-sec button {
    margin: 30px 0;
}