<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
         My Appointments
        </ion-title>
        <a href="#"><img src="assets/images/arrow.png" /></a>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>
	<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<a href="#"><label>Cancel</label></a>
	</ion-col>
</ion-row>
</ion-label>
<ion-label>
	<ion-row class="Up-Appoint appoint-date">
	<ion-col>
		 <div class="adult-dr-img">
            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <div class="star-rating">
                    <p>Appointment date & time</p>
                    <span>20 june. 01:00 noon </span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<a href="#"><label>Reschedule</label></a>
	</ion-col>
</ion-row>
</ion-label>
<ion-label>
	<ion-row class="Up-Appoint appoint-date">
	<ion-col>
		 <div class="adult-dr-img">
            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                <div class="star-rating">
                    <p>Location</p>
                    <span>SMS Hospital</span>
                    <p>Tonk Road,Jaipur</p>
                </div>
            </div>
	</ion-col>
</ion-row>
</ion-label>
<ion-label>
	<ion-row class="Up-Appoint appoint-date">
	<ion-col>
		 <div class="adult-dr-img">
            <a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></a>
                <div class="star-rating">
                    <p>Appointment booked for</p>
                    <span>Email Reena</span>
                    <p>0123456789</p>
                </div>
            </div>
	</ion-col>
</ion-row>
</ion-label>
<ion-label>
	<ion-row class="Up-Appoint appoint-date">
	<ion-col>
		 <div class="adult-dr-img">
            <a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></a>
                <div class="star-rating">
                    <p>Appointment number</p>
                    <span>65658 </span>
                </div>
            </div>
	</ion-col>
</ion-row>
</ion-label>
<ion-button class="book-appointment" type="submit" expand="block">More Detalis</ion-button>
</ion-content>
