<ion-content>
  <div id="header">
    <!-- <h1>Đăng ký</h1> -->
    <img src="assets/icon/LOGO.png" />
  </div>

  <div class="form-sec">
    <div class="content">
      <form action="#" [formGroup]="signupForm" (ngSubmit)="submit()">
        <!-- <ion-item class="ion-margin-bottom">
          <ion-input inputmode="text" id="lastname" placeholder="Name" formControlName="lastname">

          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.lastname">
          <ng-container *ngIf="lastname.hasError(error.type) && (lastname.dirty || lastname.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->
        <!-- <ion-item class="ion-margin-bottom">
          <ion-input inputmode="number" id="phone" placeholder="Phone" formControlName="mobilenumber">

          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.mobilenumber">
          <ng-container *ngIf="mobilenumber.hasError(error.type) && (mobilenumber.dirty || mobilenumber.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->
        <ion-item class="ion-margin-bottom">
          <ion-input
            inputmode="text"
            id="firstname"
            placeholder="Email"
            formControlName="email"
          >
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email" class="error">
          <ng-container
            *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
          >
            <p class="error-message">{{error.message}}</p>
          </ng-container>
        </div>

        <!-- <ion-item class="ion-margin-bottom">
          <ion-input inputmode="text" id="firstname" placeholder="Họ lót" formControlName="firstname">

          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.firstname">
          <ng-container *ngIf="firstname.hasError(error.type) && (firstname.dirty || firstname.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->

        <ion-item class="ion-margin-bottom">
          <ion-input
            type="password"
            inputmode="password"
            id="password"
            placeholder="Mật khẩu"
            formControlName="password"
          >
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password" class="error">
          <ng-container
            *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
          >
            <p class="error-message">{{error.message}}</p>
          </ng-container>
        </div>
        <ion-item>
          <div class="labelSelect">
            <ion-label style="color: rgb(114, 111, 111)"> Bạn là : </ion-label>
          </div>

          <ion-select placeholder=" Chọn " [(mgModel)]="selected_option">
            <ion-select-option value="Bác sĩ">Bác sĩ</ion-select-option>
            <ion-select-option value="Bệnh nhân">Bệnh nhân </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-item class="ion-margin-bottom">
          <ion-input type="password" inputmode="confirmpassword" id="password-confirm" placeholder="Xác nhận mật khẩu" formControlName="confirmpassword">

          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.confirmpassword">
          <ng-container
            *ngIf="confirmpassword.hasError(error.type) && (confirmpassword.dirty || confirmpassword.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->
        <!-- <button [disabled]="!signupForm.valid">SIGNUP<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button> -->
        <div class="button">
          <ion-button [disabled]="!signupForm.valid"
            >Đăng ký<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </ion-button>
        </div>
      </form>
      <ion-label class="register" style="margin-left: 90px">
        <span>Bạn đã có tài khoản? </span>
        <a [routerLink]="['/login']"><span>Đăng nhập</span></a>
      </ion-label>
    </div>
  </div>

  <!-- <ion-label>
    <div class="social-icon">
      <a href="#"><i class="fa fa-facebook"><img src="assets/icon/facebook.png" /></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"><img src="assets/icon/twitter.png" /></i></a>
      <a href="#"><i class="fa fa-google-plus"><img src="assets/icon/google.png" /></i> </a>
    </div>
  </ion-label> -->
  <!-- <ion-label>
    <a [routerLink]="['/login-form']"><span>Quay lại đăng nhập</span></a>
  </ion-label> -->
</ion-content>
