<ion-content>
  <div id="header">
    <!-- <h1>Đăng ký</h1> -->
    <img src="assets/icon/LOGO.png" />
  </div>

  <div class="form-sec">
    <div class="content">
      <form action="#" [formGroup]="signupForm" (ngSubmit)="submit()">
        <ion-item class="ion-margin-bottom">
          <ion-input
            inputmode="text"
            id="email"
            placeholder="Email"
            formControlName="email"
          >
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email" class="error">
          <ng-container
            *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
          >
            <p class="error-message">{{error.message}}</p>
          </ng-container>
        </div>

        <ion-item class="ion-margin-bottom">
          <ion-input
            type="password"
            inputmode="password"
            id="password"
            placeholder="Mật khẩu"
            formControlName="password"
          >
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password" class="error">
          <ng-container
            *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
          >
            <p class="error-message">{{error.message}}</p>
          </ng-container>
        </div>

        <ion-item class="ion-margin-bottom">
          <ion-input
            type="password"
            inputmode="password"
            id="confirmpassword"
            placeholder="Xác nhận mật khẩu"
            formControlName="confirmpassword"
          >
          </ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.confirmpassword" class="error">
          <ng-container
            *ngIf="confirmpassword.hasError(error.type) && (confirmpassword.dirty || confirmpassword.touched)"
          >
            <p class="error-message">{{error.message}}</p>
          </ng-container>
        </div>
        <ion-item>
          <div class="labelSelect">
            <ion-label style="color: rgb(114, 111, 111)"> Bạn là : </ion-label>
          </div>

          <ion-select 
            placeholder=" Chọn " 
            formControlName="role">
            <ion-select-option value="Bệnh nhân">Bệnh nhân </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="button">
          <ion-button 
            [disabled]="!signupForm.valid"
            type="submit"
            >Tiếp tục<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </ion-button>
        </div>
      </form>
      <ion-label class="register" style="margin-left: 90px">
        <span>Bạn đã có tài khoản? </span>
        <a [routerLink]="['/login-form']"><span>Đăng nhập</span></a>
      </ion-label>
    </div>
  </div>
</ion-content>
