<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
         Appointment Schedule
        </ion-title>
        <a href="#"><img src="assets/images/arrow.png" /></a>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>
	<ion-row class="hospital-name">
		<label>SMS Hospital,Jaipur</label>
	</ion-row>
</ion-label>
<ion-label>
	<ion-row>
		<div class="form-sec">
		    <div class="content">
		      <form action="#">
		        <div class="field">
		          <a href="#"><span class="fa fa-map-marker"></span></a>
		          <input type="email" required placeholder="Find Map">
		          <label></label>
		        </div>
		      </form>
		  </div>
		</div>
	</ion-row>
</ion-label>
<ion-list>
	<ion-label>Monday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Tuesday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Wednesday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Thursday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Friday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Saturday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-list>
	<ion-label>Sunday</ion-label>
  <ion-label class="timeing">
  	<ion-row>
  		<span>7-8 AM</span>
  		<span>8-9 AM</span>
  		<span>9-10 AM</span>
  		<span>10-11 AM</span>
  		<span>11-12 AM</span>
  		<span>12-1 PM</span>
  		<span>1-2 PM</span>
  		<span>2-3 PM</span>
  		<span>3-4 PM</span>
  		<span>4-5 PM</span>
  		<span>5-6 PM</span>
  		<span>6-7 PM</span>
  		<span>7-8 PM</span>
  		<span>8-9 PM</span>
  		<span>9-10 PM</span>
  		<span>10-11 PM</span>
  		<span>11-12 PM</span>
  	</ion-row>
  </ion-label>
</ion-list>
<ion-button class="book-appointment" type="submit" expand="block">Book Appointment</ion-button>
</ion-content>
