<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin người dùng</ion-title>
  </ion-toolbar>
</ion-header>
 
 <ion-content>
  <div id="header">
    <!-- <h1>Đăng ký</h1> -->
    <div *ngIf="role === 'Bác sĩ'">
      <img class="doctor_avt" src="{{doctor?.avatar_url}}" />
    </div>
    <div *ngIf="role === 'Bệnh nhân'">
      <img class="customer_avt" src="{{customer?.avatar_url}}" />
    </div>
  </div>
  <div class="form-sec">
    <div class="content" *ngIf="role === 'Bệnh nhân'">
      <form action="#" [formGroup]="profileForm" (ngSubmit)="submit()">
        <div class="Surname">

          <ion-item class="ion-margin-bottom">
            <ion-input class="first_name" inputmode="text" id="first_name" value="{{customer?.first_name}}" placeholder="Họ"
              formControlName="first_name">
            </ion-input>

            <ion-input class="last_name" inputmode="text" id="last_name" value="{{customer?.last_name}}" placeholder="Tên" formControlName="last_name">
            </ion-input>
          </ion-item>

        </div>

        <div class="date">
          <ion-item class="ion-margin-bottom">
            <ion-input inputmode="text" id="date" placeholder="Ngày sinh" value="{{customer?.date_of_birth}}" formControlName="date_of_birth">
            </ion-input>
          </ion-item>

        </div>

        <div class="genre">
          <ion-item>
            <div class="labelSelect">
              <ion-label style="color: rgb(114, 111, 111)"> Giới tính : </ion-label>
            </div>

            <ion-select placeholder="Giới tính" value="{{customer?.genre}}" selectedText="{{customer?.genre}}" formControlName="genre">
              <ion-select-option value="Nam"> Nam</ion-select-option>
              <ion-select-option value="Nữ"> Nữ</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="phone">
          <ion-input inputmode="text" id="phone" placeholder="Điện thoại" value="{{customer?.telephone}}" formControlName="telephone">
          </ion-input>
        </div>

        <div class="address">

          <ion-item class="ion-margin-bottom">
            <ion-input class="street" inputmode="text" id="street" value="{{customer?.street}}" placeholder="Đường" formControlName="street">
            </ion-input>

            <ion-input class="ward" inputmode="text" id="ward" placeholder="Phường" value="{{customer?.ward}}" formControlName="ward">
            </ion-input>
          </ion-item>

        </div>

        <div class="description">
          <ion-input inputmode="text" id="description" value="{{customer?.description}}" placeholder="Mô tả" formControlName="description">
            
          </ion-input>
        </div>

        <div class="button">
          <ion-button [disabled]="!profileForm.valid" type="submit">Cập nhật<i></i>
          </ion-button>
        </div>
      </form>
    </div>
    <div class="content" *ngIf="role === 'Bác sĩ'">
      <form action="#" [formGroup]="profileForm" (ngSubmit)="submit()">
        <div class="Surname">

          <ion-item class="ion-margin-bottom">
            <ion-input class="first_name" inputmode="text" id="first_name" placeholder="{{doctor?.first_name}}"
              formControlName="first_name">
            </ion-input>

            <ion-input class="last_name" inputmode="text" id="last_name" placeholder="{{doctor?.last_name}}" formControlName="last_name">
            </ion-input>
          </ion-item>

        </div>

        <div class="date">
          <ion-item class="ion-margin-bottom">
            <ion-input inputmode="text" id="date" placeholder="{{doctor?.date_of_birth}}" formControlName="date_of_birth">
            </ion-input>
          </ion-item>

        </div>

        <div class="genre">
          <ion-item>
            <div class="labelSelect">
              <ion-label style="color: rgb(114, 111, 111)"> Giới tính : </ion-label>
            </div>

            <ion-select placeholder="{{doctor?.genre}}" formControlName="genre">
              <ion-select-option value="Nam"> Nam</ion-select-option>
              <ion-select-option value="Nữ"> Nữ</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="phone">
          <ion-input inputmode="text" id="phone" placeholder="{{doctor?.telephone}}" formControlName="telephone">
          </ion-input>
        </div>

        <div class="address">

          <ion-item class="ion-margin-bottom">
            <ion-input class="street" inputmode="text" id="street" placeholder="{{doctor?.street}}" formControlName="street">
            </ion-input>

            <ion-input class="ward" inputmode="text" id="ward" placeholder="{{doctor?.ward}}" formControlName="ward">
              
            </ion-input>
          </ion-item>

        </div>

        <div class="description">
          <ion-input inputmode="text" id="description" placeholder="{{doctor?.description}}" formControlName="description">
          </ion-input>
        </div>

        <div class="button">
          <ion-button [disabled]="!profileForm.valid" type="submit">Cập nhật<i></i>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>