<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="../assets/icon/logo1x.png "></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-location" style="border-radius: 20px">
    <ion-card-header class="your-location" style="color: #fff">
      <ion-icon name="compass"></ion-icon> Vị trí của bạn
    </ion-card-header>
    <ion-card-content style="text-align: center">
      Tìm bác sĩ gần nhất</ion-card-content>
    <ion-searchbar placeholder="Nhập tên Bác sĩ" style="border-radius: 8px"></ion-searchbar>
  </ion-card>

  <ion-item lines="none">
    <ion-label class="ion-no-margin" style="color:  #1BA3F0 ">Chuyên khoa nổi bật</ion-label>
    <a href="/" style="text-decoration: none">
      <ion-note slot="end" color="gray" [routerLink]="['/specialities']">Tất cả</ion-note>
    </a>
  </ion-item>



  <ion-slides [options]="option" class="doctor-category">
    <ion-slide *ngFor="let specialization of specializations$">
      <app-cardcategoryitem [SpecializationObj]="specialization" (click)="gotoCardiologist(specialization._id)">
      </app-cardcategoryitem>
    </ion-slide>
  </ion-slides>

  <p class="special">Top rate</p>
  <app-carddoctoritem *ngFor="let doctor of doctors$" [doctorObj]="doctor" [specialization$]=specializations$
    [company$]=company$>
  </app-carddoctoritem>

</ion-content>