ion-header ion-toolbar {
  color: #fff;
  --background: #8dd1f8;
}

* {
  font-family: Poppins;
  font-weight: 500;
}

.ion-tittle {
  text-align: center;
}

.card-location {
  margin-top: 20px;
  text-align: left;
  color: #fff;
  background-color: #26a8f1;
  * {
    padding: 10px;
    font-family: Poppins;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    font-weight: bold;
  }
  .your-location {
    display: flex;
    align-items: center;
  }
}

.feature {
  border: 1px solid #1aa3f0;
  border-radius: 10px;
  margin: 10px 3px 3px 10px;
  padding: 5px;
  height: 80px;
  max-width: 100%;
  text-align: center;
  color: #26a8f1;
  font-weight: 600;
}
ion-icon {
  font-size: 40px;
}

.special {
  color: #26a8f1;
  margin-left: 15px;
  font-weight: 600;
}
.doctor-info-all {
  border: 1px solid #1aa3f0;
}
.menu-tittle {
  img {
    width: 100%;
    height: auto;
  }
}
