<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
         My Appointments
        </ion-title>
        <a href="#"><img src="assets/images/arrow.png" /></a>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>
<ion-row>
	<label class="up-heading">Upcoming Appointments</label>
</ion-row>
<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<label>Mon</label>
		<span>15</span>
		<p>01:00</p>
	</ion-col>
	<ion-col class="saw-hos">At Sawai Mansingh Hospital,Tonk Road,Jaipur</ion-col>
</ion-row>
<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<label>Mon</label>
		<span>15</span>
		<p>01:00</p>
	</ion-col>
	<ion-col class="saw-hos">At Sawai Mansingh Hospital,Tonk Road,Jaipur</ion-col>
</ion-row>
<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<label>Mon</label>
		<span>15</span>
		<p>01:00</p>
	</ion-col>
	<ion-col class="saw-hos">At Sawai Mansingh Hospital,Tonk Road,Jaipur</ion-col>
</ion-row>
</ion-label>
<ion-label>
<ion-row>
	<label class="up-heading">Past Appointments</label>
</ion-row>
<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<label>Mon</label>
		<span>15</span>
		<p>01:00</p>
	</ion-col>
	<ion-col class="saw-hos">At Sawai Mansingh Hospital,Tonk Road,Jaipur</ion-col>
</ion-row>
<ion-row class="Up-Appoint">
	<ion-col>
		 <div class="adult-dr-img">
            <img src="assets/images/adult-doctor.png" />
                <div class="star-rating">
                    <span>Dr-Reena Roy</span>
                    <p>Visited Eye treatment</p>
                </div>
            </div>
	</ion-col>
	<ion-col class="up-appoint-time">
		<label>Mon</label>
		<span>15</span>
		<p>01:00</p>
	</ion-col>
	<ion-col class="saw-hos">At Sawai Mansingh Hospital,Tonk Road,Jaipur</ion-col>
</ion-row>
</ion-label>
<ion-button [routerLink]="['/cardiologist']" class="book-appointment" type="submit" expand="block">More Detalis</ion-button>
</ion-content>
