ion-toolbar a {
    font-size: 24px;
    }
svg{
	fill: #fff;
    margin: 0 5px;
}
.cardio {
    margin: 10px 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 360px;
}    
.fa-heart{
	color: #FF6243;
}
.Experience-sec p {
    font-size: 12px;
}
.hosipital span {
    margin: -20px 30px;
}
.Experience-sec {
    border-bottom: none;
}
.Experience-sec .yrs {
    font-size: 12px;
}