<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"></ion-back-button>
    </ion-buttons>
    <ion-title class="text">Vị Trí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
    <div class="container">
        <!-- Map -->
        <div class="map-container">
            <!-- <ion-img src="../assets/1.jpg"></ion-img> -->
            <map-component 
            [latitudeEvent]="latitudeEvent"
            [longitudeEvent]="longitudeEvent" >
            </map-component>
        </div>
        <ion-slides #slides (ionSlideDidChange)="changeEvent($event)" class="info-doctor" [options]="slideOpts">
            <ion-slide *ngFor="let doctor of doctors$">
                <app-carddoctoritem [doctorObj]="doctor" 
                [specialization$]=specializations$
                [company$]=company$ (click)="testClick(doctor)"></app-carddoctoritem>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>