ion-header ion-toolbar {
  color: #fff;
  --background: #8dd1f8;
  font-family: Poppins;
  font-weight: 500;
}

.text {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}