<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Doctor Info </ion-title>
    <a href="#"><img src="../src/assets/images/adult-doctor.jpg" /></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="doctor-background">
    <img src="assets/images/lady-Doctor.png" />
  </ion-label>
  <div class="cardio">
    <ion-label class="cardio-box">
      <ion-row>
        <ion-col>
          <div class="adult-dr-img">
            <img src="../assets/icon/Icon-doctor.png" />
            <div class="star-rating">
              <span>Dr. Josepin Clara</span>
              <p>Eye Specialist</p>
            </div>
          </div>
        </ion-col>
        <div class="tabs">
          <ion-col class="tabs-heading">
            <span>About</span>
            <p>Feedback</p>
          </ion-col>
          <div class="border"></div>
        </div>
        <div class="fedback-star">
          <ion-col class="feedback-box">
            <span>Feedback</span>
            <p>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
          </ion-col>
          <ion-col class="available-box">
            <span>Available</span>
            <p>9:00am - 5:00pm</p>
          </ion-col>
          <div class="Experience-sec">
            <ion-col>
              <p>Experience</p>
              <span class="yrs">15 yrs</span>
            </ion-col>
            <ion-col>
              <p>Fees</p>
              <span>$30</span>
            </ion-col>
            <ion-col>
              <p>Ratings</p>
              <span>4.6</span>
            </ion-col>
          </div>
          <ion-col class="about-paragraf">
            <label>About Doctor</label>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </ion-col>
        </div>

        <div class="fedback-clint">
          <ion-col class="feedback-box">
            <div class="adult-dr-img">
              <img src="assets/images/adult-doctor.png" />
              <div class="star-rating">
                <span>Dr-Reena Roy</span>
                <p>Visited Eye treatment</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="available-box">
            <span
              >5.0
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <p>10-June-2020</p>
          </ion-col>
          <ion-col class="about-paragraf">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </ion-col>
        </div>
        <div class="fedback-clint feedback-clint1">
          <ion-col class="feedback-box">
            <div class="adult-dr-img">
              <img src="assets/images/adult-doctor.png" />
              <div class="star-rating">
                <span>Dr-Reena Roy</span>
                <p>Visited Eye treatment</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="available-box">
            <span
              >5.0
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <p>10-June-2020</p>
          </ion-col>
          <ion-col class="about-paragraf">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </ion-col>
        </div>
      </ion-row>
    </ion-label>
  </div>
  <ion-button class="book-appointment" type="submit" expand="block"
    >Book Appointment now</ion-button
  >
</ion-content> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Doctor Info </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-doctor-info">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
            <ion-card-subtitle>9:00 am - 17:00 pm</ion-card-subtitle>
            <p class="fa-star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-row>
    <div class="fedback-doctor">
      <ion-row>
        <ion-col class="available-box">
          <span>Thông tin</span>
          <p>Trình độ</p>
          <p>Bác sĩ y khoa</p>
        </ion-col>
        <ion-col class="available-box-1">
          <span>Nhận xét</span>
          <p>Đánh giá</p>
          <p>5.0</p>
        </ion-col>
      </ion-row>

      <div class="Experience-sec">
        <label>Mô tả</label>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </ion-row>
  <div class="clinic-info">
    <p>Thông tin phòng khám</p>
    <div class="clinic-detail">
      <p>Tên phòng khám</p>
      <span>Địa chỉ<br /></span>
      <span>9:00 am - 5:00pm</span>
    </div>
    <div class="img-clinic">
      <img src="../assets/images/clinic.png" />
    </div>
  </div>
  <ion-button expand="block" >BOOK</ion-button>
</ion-content>
