<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Doctor Info
        </ion-title>
        <a href="#"><img src="assets/images/arrow.png" /></a>
    </ion-toolbar>
</ion-header>

<ion-content>
	<ion-label class="doctor-background">
	<img src="assets/images/lady-Doctor.png" />
</ion-label>
    <div class="cardio">
        <ion-label class="cardio-box">
            <ion-row>
                <ion-col>
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr. Josepin Clara</span>
                            <p>Eye Specialist</p>
                        </div>
                    </div>
                </ion-col>
                <div class="tabs">
                    <ion-col class="tabs-heading">
                        <span>About</span>
                        <p>Feedback</p>
                    </ion-col>
                    <div class="border"></div>
                </div>
                <div class="fedback-star">
                    <ion-col class="feedback-box">
                        <span>Feedback</span>
                        <p>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                    </ion-col>
                    <ion-col class="available-box">
                        <span>Available</span>
                        <p>9:00am - 5:00pm</p>
                    </ion-col>
                    <div class="Experience-sec">
                        <ion-col>
                            <p>Experience</p>
                            <span class="yrs">15 yrs</span>
                        </ion-col>
                        <ion-col>
                            <p>Fees</p>
                            <span>$30</span>
                        </ion-col>
                        <ion-col>
                            <p>Ratings</p>
                            <span>4.6</span>
                        </ion-col>
                    </div>
                    <ion-col class="about-paragraf">
                        <label>About Doctor</label>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                    </ion-col>
                </div>

                <div class="fedback-clint">
                    <ion-col class="feedback-box">
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr-Reena Roy</span>
                            <p>Visited Eye treatment</p>
                        </div>
                    </div>
                    </ion-col>
                    <ion-col class="available-box">
                       <span>5.0
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <p>10-June-2020</p>
                    </ion-col>
                    <ion-col class="about-paragraf">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                    </ion-col>
                </div>
                    <div class="fedback-clint feedback-clint1">
                    <ion-col class="feedback-box">
                    <div class="adult-dr-img">
                        <img src="assets/images/adult-doctor.png" />
                        <div class="star-rating">
                            <span>Dr-Reena Roy</span>
                            <p>Visited Eye treatment</p>
                        </div>
                    </div>
                    </ion-col>
                    <ion-col class="available-box">
                       <span>5.0
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <p>10-June-2020</p>
                    </ion-col>
                    <ion-col class="about-paragraf">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                    </ion-col>
                </div>
            </ion-row>
        </ion-label>
    </div>
    <ion-button class="book-appointment" type="submit" expand="block">Book Appointment now</ion-button>
</ion-content>
