<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SPECIALITIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="feature"
    ><ion-icon name="eye-outline"></ion-icon> <span>Eyes</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="bandage-outline"></ion-icon> <span>Dental</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="heart-outline"></ion-icon> <span>Medicines</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="medkit-outline"></ion-icon> <span>Diagnostic</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="eye-outline"></ion-icon> <span>Eyes</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="bandage-outline"></ion-icon> <span>Dental</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="heart-outline"></ion-icon> <span>Medicines</span>
  </ion-card>
  <ion-card class="feature"
    ><ion-icon name="medkit-outline"></ion-icon> <span>Diagnostic</span>
  </ion-card>
</ion-content>
