<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    	Cardiologist

    </ion-title>
    <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col>
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col>
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col >
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
</ion-content>
