
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/specialities"></ion-back-button>
    </ion-buttons>
    <ion-title class="text">{{nameSpecial}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Nhập tên Bác sĩ"></ion-searchbar>
  <app-carddoctoritem 
  *ngFor="let doctor of doctors$" [doctorObj]="doctor" 
  [specialization$]=specializations$
  [company$]=company$ (click)="gotoDoctorInfo(doctor._id)">
  </app-carddoctoritem>
</ion-content>
