<!-- <ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    	Cardiologist

    </ion-title>
    <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col>
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col>
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
	<div class="cardio">
<ion-label class="cardio-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
			<img src="assets/images/adult-doctor.png">
			
					<div class="star-rating">
			<a [routerLink]="['/doctor-info']"><span>Dr. Josepin Clara</span></a>
			<p>MBBS, DNB - Ophthalmology,</p>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star" aria-hidden="true"></i></a>
			<a [routerLink]="['/feedback']"><i class="fa fa-star-o" aria-hidden="true"></i></a>
		</div>
		<i class="fa fa-heart-o" aria-hidden="true"></i>
		</div>
		</ion-col>
		<div class="hosipital">
		<ion-col>
			<p>Sawai Mansingh Hospital</p>
			<span>2 km</span>
		</ion-col>	
	</div>
	<div class="Experience-sec">
		<ion-col >
			<p>Experience</p>
			<span class="yrs">15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Favourites</p>
			<span>15 yrs</span>
		</ion-col>
		<ion-col>
			<p>Ratings</p>
			<span>15 yrs</span>
		</ion-col>
	</div>
	<div class="timing-sec">
		<ion-col class="open-time">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			
		</ion-col>
		<ion-col>
			<span>Open Timings : 9:00am-5:00pm</span>
		</ion-col>
		<ion-col>
			<ion-button [routerLink]="['/book-appointment']" type="submit">BOOK</ion-button>
		</ion-col>
	</div>
	</ion-row>
</ion-label>
</div>
</ion-content> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>BÁC SĨ CHUYÊN NGÀNH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Nhập tên Bác sĩ"></ion-searchbar>

  <ion-list>
    <ion-card [routerLink]="['/doctor-info']">
      <ion-grid>
        <ion-row class="doctor-info">
          <ion-col size="3">
            <div class="avatar">
              <img src="../assets/icon/Icon-doctor.png" />
            </div>
          </ion-col>
          <ion-col size="9" class="doctor-name">
            <ion-card-content class="doctor-name-card">
              <ion-card-title>Nguyen Van A</ion-card-title>
              <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
              <ion-card-subtitle>Tim Mach</ion-card-subtitle>
              <p class="fa-star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
