<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CHI TIẾT LỊCH HẸN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="doctor-name">
      <h3>{{appointment.doctor-name}}</h3>
      <p>Tim mạch</p>
      <p class="star">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </p>
    </div>

    <ion-item class="booking-time">
      <ion-avatar slot="start">
        <ion-icon name="time-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Thời gian hẹn khám</h2>
        <h3>5:00-6:00</h3>
      </ion-label>
    </ion-item>

    <ion-item class="telephone">
      <ion-avatar slot="start">
        <ion-icon name="location-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Địa chỉ</h2>
        <h3>187 Phù Đổng Thiên Vương, P8, Đà Lạt, Lâm Đồng</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block">OK</ion-button>
</ion-content>
