<ion-card>
  <ion-card-content>
    <ion-img class="avatar" src="{{doctorObj.avatar_url}}"></ion-img>
    <div class="info">
      <div class="doctor-name">{{doctorObj.last_name + " " + doctorObj.first_name}}</div>
      <div class="hospital-name">{{nameCompanny}}</div>
      <div class="specialized-name">{{nameSpecial}}</div>
      <p class="star" >
        <ion-label>{{doctorObj.rating}} </ion-label>
        <ion-icon name="star"></ion-icon>
      </p>
    </div>
  </ion-card-content>
</ion-card>