<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="field-lab">
	<div class="field">
          <input type="text" required>
          <label>View in Map</label>
          <a href="#"><span class="fa fa-angle-right"></span></a>
        </div>
</ion-row>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<a [routerLink]="['/chating']"><span>Dr. Reena</span></a>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
				</div>
			</div>
		</ion-col>
		<ion-col class="timing-lab">
			<span>15:30</span>
			<p>2</p>
		</ion-col>
		<div class="border"></div>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<a [routerLink]="['/chating']"><span>Dr. Reena</span></a>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
				</div>
			</div>
		</ion-col>
		<ion-col class="timing-lab">
			<span>15:30</span>
			<p>2</p>
		</ion-col>
		<div class="border"></div>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<a [routerLink]="['/chating']"><span>Dr. Reena</span></a>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
				</div>
			</div>
		</ion-col>
		<ion-col class="timing-lab">
			<span>15:30</span>
			<p>2</p>
		</ion-col>
		<div class="border"></div>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<a [routerLink]="['/chating']"><span>Dr. Reena</span></a>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
				</div>
			</div>
		</ion-col>
		<ion-col class="timing-lab">
			<span>15:30</span>
			<p>2</p>
		</ion-col>
		<div class="border"></div>
	</ion-row>
</ion-label>
<ion-label class="lab-box">
	<ion-row>
		<ion-col>
			<div class="adult-dr-img">
					<img src="assets/images/adult-doctor.png">
					
				<div class="star-rating">
					<a [routerLink]="['/chating']"><span>Dr. Reena</span></a>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
				</div>
			</div>
		</ion-col>
		<ion-col class="timing-lab">
			<span>15:30</span>
			<p>2</p>
		</ion-col>
		<div class="border"></div>
	</ion-row>
</ion-label>

</ion-content>
