.fa-search{
	    padding: 0 60px;
	    color: #fff;
}
.fa-compass{
	    float: right;
}
ion-title{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	    font-size: 14px;
}


.map-heading{
	font-family: 'Poppins', sans-serif;
	    font-size: 14px;
	    width: 220px;
	    position: absolute;
}
