<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-location" style="border-radius: 20px">
    <ion-card-tittle class="your-location"
      ><ion-icon name="compass"></ion-icon> Your Location</ion-card-tittle
    >
    <ion-card-content style="text-align: center">
      Find the doctor nearest your location</ion-card-content
    >
    <ion-searchbar
      placeholder="Nhập tên Bác sĩ"
      style="border-radius: 8px"
    ></ion-searchbar>
  </ion-card>

  <ion-item>
    <ion-label style="color: #26a8f1">Common Specialities</ion-label>
    <a href="/" style="text-decoration: none"
      ><ion-note slot="end" color="gray">Viewall</ion-note></a
    >
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="feature">
            <ion-icon name="medkit-outline"></ion-icon> Diagnostic
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="feature"
            ><ion-icon name="heart-outline"></ion-icon> Dental
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="feature">
            <ion-icon name="bandage-outline"></ion-icon>Medicines
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="feature"
            ><ion-icon name="eye-outline"></ion-icon> Eyes
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="special">Top rate</p>
  <ion-card style="border: 1px solid #1aa3f0">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card style="border: 1px solid #1aa3f0">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card style="border: 1px solid #1aa3f0">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card style="border: 1px solid #1aa3f0">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card style="border: 1px solid #1aa3f0">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="doctor-info-all">
    <ion-grid>
      <ion-row class="doctor-info">
        <ion-col size="3">
          <div class="avatar">
            <img src="../assets/icon/Icon-doctor.png" />
          </div>
        </ion-col>
        <ion-col size="9" class="doctor-name">
          <ion-card-content class="doctor-name-card">
            <ion-card-title>Nguyen Van A</ion-card-title>
            <ion-card-subtitle>Benh Vien Da khoa Lam Dong</ion-card-subtitle>
            <ion-card-subtitle>Tim Mach</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content class="description"> Mô tả ngắn... </ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
